.page-homepage{
    .best-sale, .favourite{
        // margin-top: 50px;
        font-size: 2.5rem;
        color: red;
        margin-bottom: 20px;
        text-align: center;
    }
    .favourite{
        margin-top: 50px;
    }
}